@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li><b>Membership:</b> @Model.MembershipType.Name</li>
    @if (Model.BirthdateIsSet()) { 
        <li><b>Birthdate:</b> @Model.BirthdateToString()</li>
    }
</ul>
