@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This Vidly movie browser was made while following the Udemy course on ASP.NET MVC 5.</p>
    <p><a href="https://www.udemy.com/course/the-complete-aspnet-mvc-5-course/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
    </div>
</div>